@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


body{
    font-family: 'Inter', sans-serif;
    background-color: #030304;
    opacity: 1;
    background-image:  radial-gradient(#ffeaa7 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#ffeaa7 1.1500000000000001px, #030304 1.1500000000000001px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;
    background-attachment: fixed;
}

.menu{
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    z-index: 2;
}

.menu img{
    width: 2em;
}

.hero{
    background: url(images/wallpaper-4106667.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 0 0);
}

.hero_container{
    height: 100vh;
}

/* Barra */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 10vh;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li{
   padding: 1em; 
}

ul li a{
    padding: 2px;
}

a{
    text-decoration: none;
    color: white;
}

.head a{
    padding-bottom: 1em;
}

.ull{
    padding: 0;
}


.ull a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.ull a:before {  
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffeaa7;
    height: 5px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.ull a:hover:before, .ull a:focus:before, .ull a:active:before {
    right: 0;
  }


.logo{
    width: 80px;
}

/* ventana principal */

.header{
    height: auto;
    padding: 5em;
}

.header_text{
    text-align: left;
}

.header_text .yellow{
    color: #ffeaa7;
}

.header_title{
    margin: 1em 0;
    font-size: 3em;
}

.header_title a{
    color: #ffeaa7;
    text-shadow: 0 0 30px #ffeaa7;
}

.header_t{
    font-size: 1em;
}



.ref{
    margin-top: 1em;
}

/* Main */
/* Datos */

.main{
    padding: 4em 2em 0 2em;
}

.main_about{
    width: 90%;
    height: 100vh;
    display: flex;
    margin: 0em auto;
}

.about_img{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.about_img .img{
    height: 80%;
    vertical-align: middle;
    filter: grayscale(100%);
}

.about_work .about{
    width: 60%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.about_description{
    width: 80%;
    margin: 0em auto;
    color: white;
   
}

.about_description .about_h2{
    font-size: 1em;
    color: #ffeaa7;
    text-shadow: 0 0 30px #ffeaa7;
}

.about_description .about_title{
    margin: 0.5em 0;
    margin-bottom: 0.3em;
}

.line{
    border-color: transparent;
    background-color: #ffeaa7;
    height: 5px;
    width: 20%;
    margin: 0 0 1em 0;
    box-shadow: 0 0 20px #ffeaa7;
}

.about_text{
    text-align: justify;
    line-height: 30px;
}

.about_social{
    display: flex;
    width: 80%;
    margin: 0 auto;
    color: white;
    border: 3px solid #ffeaa7;
    box-shadow: 0 0 20px #ffeaa7;
}

.about_social ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.about_social .mail::after{
    content: " sdazadesign@gmail.com";
}

.about_social ul li a{
    color: #ffeaa7;
}

/* about work */

.main_two{
    background-color: #000;
    opacity: 1;
    background-image: radial-gradient(#ffeaa7 0.65px, #000 0.65px);
    background-size: 13px 13px;
    background-attachment: fixed;
}

.main_two .about_work{
    width: 90%;
    margin: 0 auto;
}

.work_text{
    color: white;
}

.text_h1{
    margin: 0.5em 0;
}

.work_text .text_h3{
    font-size: 1em;
    color: #ffeaa7;
    text-shadow: 0 0 30px #ffeaa7;
}

/* boton de portafolio */
.portafolio {
    padding: 1em;
    border: 3px solid #ffeaa7;
    text-align: center;
    height: 50%;
    margin: 0 auto;
    align-self: center;
}

.portafolio:hover{
    box-shadow: 0 0 30px #ffeaa7;
    text-shadow: 0 0 30px #ffeaa7;
    transition: .5;
}

.portafolio a{
    color: white;
}




/* bloques */

.blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blocks div{
    padding: 1em;
    height: 400px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

.blocks div:hover{
    text-shadow: 0 0 30px white;
    transition: .5s;
}

.blocks img{
    width: 10em;
    vertical-align: middle;
}

.blocks h1{
    color: white;
}

.blocks hr{
    border-color: transparent;
    background-color: white;
    height: 3px;
    margin: 0 0 1em 0;
}

.blocks p{
    color: white;
}

/* Banner */

.banner{
    width: 90%;
    margin: 5em auto;
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0 15px 30px rgba(0,0,0,30), 0 11px 8px rgba(0,0,0,22);
}

.banner .content{
    height: 20vh;
    padding: 2em;
    text-align: center;
    background: url(images/lion-4133358_1920.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.banner h1,
.banner p{
    margin: 0.5em;
}

.banner h1{
    font-size: 40px;
}

.banner .yellow{
    color: #ffeaa7;
}

/* footer */

.footerr{
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.footer_p{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.footer_container{
    padding: 2em;
}

.footer_text h1{
    color: #ffeaa7;
    text-shadow: 0px 0px 30px #ffeaa7;
}

.footer_text p{
    color: white;
    margin: 2em 0;
}

.footer_social{
    display: flex;
    gap: 2em;
}

.footer_img .social{
    width: 25em;
}

.footer_end{
    margin-top: 1em;
}

.footer_end p{
    padding: 2em 0;
    color: white;
    text-align: center;
}

.footer_end .end::after{
    content: " sdazadesign@gmail.com ";
}

/* max-width 768px */

@media screen and (max-width:990px){

    .about_img .img{
        height: 40%;
    }

    .main_about{
        height: 140vh;
    }

    .about_social{
        display: block;
        width: 80%;
        margin: 0 auto;
        color: white;
        border: 3px solid #ffeaa7;
        box-shadow: 0 0 20px #ffeaa7;
    }

    .main_two{
        margin-bottom: 5em;
    }
    
    .banner{
        width: 80%;
    }

    .banner .content{
        height: 20vh;
        padding: 2em;
    }
    
    .banner h1,
    .banner p{
        margin: 0.2em;
    }
    
    .banner h1{
        font-size: 40px;
    }

    .footer_img .social{
        width: 10em;
    }
}


@media screen and (max-width:768px){

    .menu{
        display: block;
    }

    .hero .list .ull{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #030304;
        height: 100%;
        transform: translateX(-400px);
        padding: 30px;
        opacity: .9;
        transition: transform .5s;
    }

    .hero .list .ull.show{
        transform: translateX(-20px);
    }

    .main_about{
        display: block;
        height: 180vh;
    }

    .about_img{
        /* display: none; */
        width: 100%;
    }
    .about_img .img{
        height: 20em;
    }
}

@media screen and (max-width:700px){


    .main_about{
        height: 200vh;
    }

    .main_two{
        height: auto;
        width: 100%;
    }

    .main_two .about{
        display: block;
    }

    .blocks{
        display: block;
    }

    .footer_p{
        display: block;
    }

    .footer_img{
        display: none;
    }
}

@media screen and (max-width:426px){

    .hero{
        background: url(images/wallpaper-4106667.jpg) no-repeat right center/cover;
        
    }

    .about_img{
        padding: 0;
    }

    .banner .content h1{
        font-size: 1.5em;
    }
}

@media screen and (max-width:320px){
    .banner .content{
        font-size: .8em;
    }
}

    